<div>
    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4"> <label for="contactName">First Name</label>
                    <input #contactName id="contactName" class="form-control" [(ngModel)]="contact.firstName"
                        name="contactName" type="text" autocomplete="off"
                        [ngClass]="{ 'has-error': submitting && invalidName() }" (focus)="clearStatus()"
                        (keypress)="clearStatus()" />
                </div>
                <div class="col-sm-4"> <label for="contactEmail">Last Name</label>
                    <input id="contactLastName" class="form-control" [(ngModel)]="contact.lastName"
                        name="contactLastName" type="text" autocomplete="off"
                        [ngClass]="{ 'has-error': submitting && invalidLastname() }" (focus)="clearStatus()" />
                </div>
                <div class="col-sm-4"> <label for="contactNumber">Phone Number</label>
                    <input id="contactNumber" class="form-control" [(ngModel)]="contact.phone" name="contactNumber"
                        type="text" autocomplete="off" [ngClass]="{ 'has-error': submitting && invalidNumber() }"
                        (focus)="clearStatus()" />
                </div>
                <div class="pt" > <button (click)="onAddContact()" class="btn btn-success"><i
                            class='fa fa-plus'></i> Add Contact</button>
                </div>
            </div>
            <div>
                <p *ngIf="error && submitting" class="error-message">
                    <i class='fa fa-warning' style='color: red'></i>Please fill out all required fields/Check Phone
                    Number
                </p>
                <p *ngIf="success" class="success-message"><i class='fa fa-check' style='color: green'></i>Contact
                    successfully added</p>
            </div>

        </div>

    </form>
</div>